/**
 * Remove default list styles, margins and padding.
 */

 ol,
 ul {margin: 0;
padding: 0;
list-style:none;
}

/* ================================= 
  Base Layout Styles
==================================== */
* {
	box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial;
}

h2 {
  text-align: center;
}

img {
	max-width: 100%;
}

/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: rgba(201, 24, 24)!important;
    overflow: hidden;
    position: fixed;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    color: white;
    text-decoration: none; 
    font-size: 18px;
    font-weight: bold;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    background-color: rgb(201, 24, 24);
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: rgb(201, 24, 24);
    color: silver;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: rgb(201, 24, 24);
    font-weight: 400;
    font-size: 40px;
    font-family: Brush Script MT, Brush Script Std, cursive;
  }

  a.active {
    background-color: rgb(201, 24, 24);
    color: silver;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  .main-footer {
    text-align: center;
    padding: .5em 0;
    background-color: rgb(201, 24, 24);
    color: rgb(252, 220, 220);
    font-weight: 400;
  }

  .header {
    text-align: center;
    padding: 32px;
    font-size: 1em;
    text-decoration: underline;
}
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

  .navbar a{
    background-color: rgb(201, 24, 24)!important;
  }
}


@media (min-width:700px) {
.indent {
  text-indent: 14.5%;
  }
  .navbar .icon {
    display: none;
    background-color: rgb(201, 24, 24);
  }
}

@media screen and (max-width: 700px) {
  .hb {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
    background-color: rgb(201, 24, 24);
  }
}

@media screen and (max-width: 700px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(201, 24, 24);
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
    background-color: rgb(201, 24, 24);
  }



}
